sudo: required

services:
  - docker

before_install:
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce

script:
  - docker build -t registry.heroku.com/bananaaaaa/web .

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login --username=_ --password="$DOCKER_TOKEN" registry.heroku.com
    docker push USER/REPO;
    docker push registry.heroku.com/bananaaaaa/web
    fi